# Copia este archivo a .env y rellena con tus valores reales
FRIGATE_MQTT_USER=admin
FRIGATE_MQTT_PASSWORD=CAMBIA_ESTA_PASSWORD
FRIGATE_RTSP_URL_PUERTA_MAIN=rtsp://usuario:password@192.168.0.102:554/stream1
FRIGATE_RTSP_URL_PUERTA_SUB=rtsp://usuario:password@192.168.0.102:554/stream2
FRIGATE_RTSP_URL_PATIO_MAIN=rtsp://usuario:password@192.168.0.118:554/stream1
FRIGATE_RTSP_URL_PATIO_SUB=rtsp://usuario:password@192.168.0.118:554/stream2
FRIGATE_TAPO_TOKEN=CAMBIA_ESTE_TOKEN
