# Copia este archivo a .env y rellena con tus valores reales
FRIGATE_MQTT_USER=admin
FRIGATE_MQTT_PASSWORD=password
FRIGATE_MQTT_HOST=ip_del_host
FRIGATE_RTSP_PASSWORD=password
FRIGATE_RTSP_USER=user
FRIGATE_IP_CAMERA_PUERTA=ip_de_la_camara_puerta
FRIGATE_IP_CAMERA_PATIO=ip_de_la_camara_patio
HOST_IP=ip_del_host
